* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #008080;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 7rem;
  margin-top: 3rem;
}

button {
  font-size: 1rem;
  font-weight: bold;
  width: 5%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
}

.container div {
  border: 3px solid #7a4c58;
  background-color: pink;
  border-radius: 10px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  place-content: center;
  display: grid;
  grid-template: repeat(3, 10%) / repeat(3, 10%);
  gap: 10px;
}
